* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: 'Trispace', sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

canvas {
  display: block;
}

.caption {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%;
  color: white;
  margin-bottom: 2rem;
  gap: 2rem;
}

.caption p {
  width: 125px;
  text-align: center;
}

.caption button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: color 0.1s ease;
  fill: white;
}

.caption button:hover,
.caption a:hover {
  fill: gainsboro;
}

.label {
  color: white;
  font-weight: 200;
  font-size: 0.9rem;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 6px;
}

.label img {
  width: 18px;
  height: 18px;
}

.btn-group {
  position: absolute;
  right: 0;
  margin-right: 2rem;
  fill: white;
}

#btn-github {
  display: inline-block;
}
