@use "./styles/gui.scss";
@use "./styles/identity.scss";
@use "./styles/body-info.scss";
@use "./styles/label.scss";
@use "./styles/poi-probe.scss";
@use "./styles/loading-screen.scss";
@use "./styles/orbital-nav.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: "Trispace", sans-serif;
  background-color: #000;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

canvas {
  display: block;
}
